<a routerLink="/emp"></a>
<a routerLink="/emp-form"></a>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class= "text-bg-info p-3">
      <h1 class="styled -heading">
      <span class="first-letter">P</span>ayroll
      <span class="first-letter">M</span>anagement
      </h1>
    </div>
  
    
      <div style="text-align: left;float: left;">
      <li class="active"><a href="emps" style="color: aliceblue;">EMPLOYEES</a></li>
      </div>

      <div style="text-align:right;float:right">          
      <li class="active"><a href="empForm" style="color: aliceblue;">EMPLOYEE FORM</a></li>
      </div>
      
  
    
  </nav>
  
  

  
<router-outlet></router-outlet>


